*{
    margin: 0;
    padding: 0;
}


.header{
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h1index{
    text-align: center;
    color:azure;
}
.h1index:hover{
    color: rgb(165, 42, 140);
}

.h2main{
    text-align: center;
    color: aquamarine;
    
}

.img{
    width: 50%;
    height: 50%;
    align-items: center;
    align-content: center;
    background-image: url(../IMAGENES/musica.jpg);
    transform: translate(375px, 75px);
}

.img:hover{
    background-image: url(../IMAGENES/corazon.webp);
}

.h2main:hover{
    font-size: 50px;

}

.parrafo{
    text-align: center;
    transform: translate(0px, 5px);
    color: aliceblue;
}

.main{
      height: 75vh;
    background-image: linear-gradient(to bottom, black, violet);
}

.footer{
    height: 10vh;
    background-color: black;
    color: azure;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}